@model LinksAggregator.Models.ViewModels.ManageViewModels.AddingNewLinkViewModel

@{
    ViewData["Title"] = "Dodaj link";
    ViewData.AddActivePage(ManageNavPages.AddLink);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "Manage"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Link.Title, "Tytu≥")
                @Html.TextBoxFor(m => m.Link.Title, new { @class = "form-control", @placeholder = "Tytu≥" })
                @Html.ValidationMessageFor(m => m.Link.Title)
            </div>
            <div>
                @Html.LabelFor(m => m.Link.UrlAddress, "Adres URL")
                @Html.TextBoxFor(m => m.Link.UrlAddress, new { @class = "form-control", @placeholder = "URL" })
                @Html.ValidationMessageFor(m => m.Link.UrlAddress)
            </div>
            <div>
                @Html.LabelFor(m => m.Link.Description, "Opis")
                @Html.TextAreaFor(m => m.Link.Description, new { @class = "form-control", @placeholder = "Opis" })
                @Html.ValidationMessageFor(m => m.Link.Description)
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Zatwierdü</button>
        }






        @*<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Tytul</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adres URL</label>
                <input asp-for="UrlAddress" class="form-control" />
                <span asp-validation-for="UrlAddress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Dodaj</button>
        </form>*@
    </div>
</div>

