@model LinksAggregator.Models.ViewModels.LinkIndexViewModel
@inject UserManager<ApplicationUser> Users

@{
    var userId = Users.GetUserId(User);
    var t = TempData["alert"];
}


@foreach (var link in Model.Links)
{
    if (link.SubtractedDates <= 5)
    {
        <div class="linkBox">
            <div class="leftBox">
                <div class="urlTitle">
                    @link.Title
                </div>
                <div class="urlDesc">
                    @link.Description
                </div>
                <div class="url">
                    <a href="@link.UrlAddress">Click</a>
                </div>
                <hr />
                <div class="user">
                    Dodał:&nbsp;
                    @if (link.ApplicationUserNickname == null)
                    {
                        @link.ApplicationUserEmail
                    }
                    else
                    {
                        @link.ApplicationUserNickname
                    }
                </div>
                <br />
                <div class="insertionDate">
                    @link.InsertionDate.ToString("dd/MM/yyyy")
                </div>
            </div>

            @if (userId != link.ApplicationUserId)
            {
            <div class="rightBox1">
                <div class="rateBox">
                    <div class="rate">
                        @link.Rate
                    </div>
                </div>
                <div class="vote">
                    @{
                        @Html.ActionLink("", "AddVote", "Link", new { id = link.Id }, new { @class = "fas fa-plus-square" })

                        if (t != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    alert("Już głosowałeś na ten link!");
                                };
                            </script>
                        }
                    }
                </div>
            </div>
            }
            else
            {
            <div class="rightBox2">
                <div class="rate">
                    @link.Rate
                </div>
            </div>
            }

            <div class="clearBoth"></div>


        </div>
    }
}
